body {
  background: white;
  height: 500px;
  width: 60%;
  margin:0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

div {
  background: orange
  color: white;
  width: 75%
  padding: 20px;
  resize: both;
  overflow: auto
}
